{% extends 'index.jinja' %}

{% block content %}
    <h2>Lista De Productos</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Stock</th>
                                <th>Proveedor</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td>{{ product.name }}</td>
                                <td>${{ product.price }}</td>
                                <td>{{ product.current_stock }}</td>
                                <td>{{ product.supplier }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
